
/* Structure */
body {
    font-family:Arial, Helvetica, sans-serif;
    background: white;
}
.text {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 100px;
}
#main-header h1 {
    text-align:center;
}

/* Main Navigation */
#main-nav ul {
    list-style-type: none;
    display: flex; 
    padding:5px;
    flex-direction:column;
    text-align: center;
}
#main-nav li {
    margin-right: 10px;
    padding:5px;
}
#main-nav {
    background-color:darkgray;
    margin:10px;
}

#main-nav a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
}
#main-nav a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}
#main-nav a:hover {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }


/* Flexboxes */
.flex-container1, .flex-container2 {
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
    margin:5px;
}

/* Main Content and Sidebar */
#col-main-content {
    flex: 3;
    background-color: lightblue;
    padding-left:10px;
    margin:5px;
}
#col-sidebar {
    flex: 1;
    background-color: lightblue;
    padding-left: 10px;
    margin:5px;
}

/* Column and Nested */

#col1of2, #col2of2 {
    display: flex; 
    flex-direction: column;
    flex: 1;
    margin:5px;
    padding-left: 10px;
    padding-right: 10px;
    border:1px solid darkblue;
    background-color: lightgreen;
}
#col1of2 ul, #col2of2 ul{
    display: flex; 
    flex-direction:column;
    flex: 1;
    text-align: center;
    list-style-type: none;
    padding:1px;
}
#col1of2 li, #col2of2 li{
    flex: 1;
    margin:5px;
    padding:20px;
    background-color: lightblue;
    border:1px solid darkblue;
}


/* Images Flexbox */

.picture-flex {
    flex-direction: column;
    flex: 1;
    display: flex;
    justify-content: center;
}

#pic1, #pic2, #pic3{
    margin:5px;
    padding: 10px;
}



/* Footer */

#footer-container {
    margin:auto;
    background-color: gray;
    padding: 1%;
    color:white;   
}

.footer-text ul{
    list-style-type: none;
}

.footer-middle{
    text-align: center;
}
.footer-text{
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}


/* Larger Resolution */
@media only screen and (min-width:600px) {
    #main-nav ul{
        justify-content:space-between;
        flex-direction: row;
        margin:10px;
        flex-wrap: wrap;
    }
    .flex-container1 , .flex-container2{
        margin-top:5px;
        flex-direction: row;
        justify-content:space-between;
    }
    #col1of2 ul, #col2of2 ul{
        flex-direction:row;
        align-content:stretch;
    }
    .nestedcol {
        flex-direction:row;
        justify-content:space-between;
    }
    .picture-flex{
        margin-top:5px;
        flex-direction: row;
        justify-content:space-between;
        display:flex;
        flex-wrap: wrap;
        margin:5px;
        padding: 10px;
    }
    .footer-text{
        position: absolute;
        bottom: 0px;
        right: 5px;
    }
    #footer-container {
        height: 10%;
        padding: 80px 0;
        position: relative;
    }
    .footer-middle {
        text-align: center;
    }
}