/* Structure */
header {
  background-color: white;
  border: solid lightgray 1px;
}
.hide {
  display: none;
}

/* Text */
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Links */
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
a:hover {
  color: white;
  background-color: #89416e;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}

.home-href:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  padding: 6px;
}
.home-href:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
  padding: 6px;
}

.home-href:hover {
  color: #89416e;
  background-color: transparent;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
/* Main Header Format*/
#main-header ul {
  list-style-type: none;
  display: flex;
  padding: 3px;
}
#main-header li {
  padding-bottom: 5px;
  text-align: center;
}

/* Smaller Resolution Menu */
#menu {
  margin-top: 60px;
  /* background-color: gray; */
}
#menu ul {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

/* Header Images/Menu Image */
#toggle-menu {
  position: absolute;
  right: 20px;
}
#header-logo {
  position: absolute;
  left: 20px;
  top: 20px;
}
#wider-logo {
  display: none;
}

/* Main */
/* Main-Content Basic Flex Container */
.flex-container {
  display: flex;
  flex-direction: row;
}
.flex-container ul {
  list-style-type: none;
}
/* Mainpage Title/Image */
#mainpage-title {
  margin-top: 150px;
  width: 370px;
  margin-left: 8%;
}
#mainpage-flex1 {
  justify-content: space-between;
}
#mainpage-img1 {
  margin-right: 8%;
}

/* Main Content */
#maincontent-header {
  text-align: center;
}

/* Input for Contact Us */
#form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#form ul{
  padding:10px;
  margin:0;
}
#form input{
  width:500px;
  height:50px;
}
.larger-box {
  width:500px;
  height:250px;
}
#results {
  text-align: center;
  font-weight: bold;
}

p{
  display:flex;
  flex-direction: column;
}
main {
  flex-direction: column;
}
/* Footer */
#footer-menu {
  align-items: center;
  justify-content: space-between;
  background-color: lightgray;
  margin-top: 10px;
  background-color: #89416e;
  color:white;
}
#footer-menu ul {
  display: flex;
  list-style-type: none;
  display: flex;
  padding: 3px;
  flex-direction: row;
}
#footer-menu li {
  padding-bottom: 5px;
  text-align: center;
  padding: 5px;
}

/* Wider Resolution */
@media only screen and (min-width: 791px) {
  /* Larger Menu Format */
  #menu {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    margin-top: 0px;
  }
  #menu ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #menu li {
    padding: 7px;
  }
  #wider-logo {
    display: flex;
  }
  #main-header-logo {
    display: none;
  }
  a:link {
    border: solid gray 1px;
  }
  .home-href:link {
    border:none;
  }
}
