
/* Structure */
h2{
    background-color:darkmagenta;
}
h3{
    background-color:darkolivegreen;
}
body {
    background-color:darkslategray;
}


/* Tables */
table {
    background-color:hotpink;
    border-collapse: collapse;
}
td,th{
    border: 5px solid red;
}
th{
    background-color:cyan;
}
/* Typography */
body {
    font-family:Arial, Helvetica, sans-serif;
}

p {
    color:crimson;
}

#navigation a:link {
    color:white;
    background-color: transparent;
    text-decoration: none;
}
#navigation a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
}
#navigation a:hover {
    color: #8A1934;
    background-color: transparent;
    text-decoration: none;
  }