/* Structure */


#title {
  text-align: center;
}

#header {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 48px;
  color: #ff69b4;
  letter-spacing: 5px;
}

img{
  max-width: 300px;
}
/* Typography */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

main h2 {
  text-align: center;
  background-color: black;
  color: white;
}

/* Assignments Flexbox */
.assignmentsbody {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.assignmentsbody ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  padding: 1px;
  flex-basis: 100px;
  height:320px;
  background-color: lightblue;
  margin:10px;
  
}

.assignmentsbody li {
  list-style-type: none;
}

.assignmentsbody li p {
  text-align: left;
  padding-left: 15px;
}

/* Links */
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
a:hover {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 2px;
  border-radius: 4px;
}

/* Larger Resolution */
@media only screen and (min-width: 600px) {
  .assignmentsbody {
    margin-top: 5px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .assignmentsbody ul {
    padding: 10px;
    flex-basis: 100px;
  }
  .assignmentsbody li img {
    padding: 10px;
  }
}
