/* Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
  }


/* Flexbox */
.flex{
    display: flex;
    flex-direction: row;
    margin:10px;
    justify-content: space-around;
    background-color:darkgray;
}
.flex ul{
    list-style-type: none;
    background-color:lightskyblue;
    padding:5px;
    width:40%
}
.text{
    text-align: center;
}

.text-left{
    text-align:left;
}

/* Funds Raised  */
#funds-raised-container {
    display:flex;
    flex-direction: row;
    padding: 1px;
  }
  #funds-raised-container li {
    padding: 5px;
  }


#thermometer{
    --x:500px;
    background-color: white;
    height:var(--x);
    width:100px;
    margin-left:110px;
    background: linear-gradient(0deg, red 25%, yellow 50%, green 75%, blue 100%);
}


#running-man{
    --r:0px;
    margin-left:var(--r);
    text-align: none;
}